h3 {
    text-align: center;
    color: black;
    font-style: italic;
}

h2 {
    text-align: center;
    color: black; 
    font-style: italic;
}

.skill-header {
    text-align: left;
}

.skill-container {
    border: solid; 
    color: black; 
    width: 550px; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 14px;
    margin-bottom: 10px;
}

h1 {
    background-color:rgb(255, 165, 169);
    text-align: center; 
    color: black; 
    font-style: italic;
    margin-bottom: 0px;
}

nav {
    background-color: rgb(255, 165, 169);
    color: black;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
    font-size: 1.25rem;
}